@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    background-color: #333;
    background: url('sheffield-pie-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Responsive Text */
h1 {
    color: white;
    text-align: center; /* Use text-align for responsiveness */
    margin-top: 5%; /* Use percentage for responsive margin */
    font-size: 2em; /* Responsive font size */
}

.nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

/* Responsive Navigation Links */
.nav-links {
    display: flex;
    gap: 10px; /* Reduced gap for smaller screens */
    flex-wrap: wrap; /* Allows links to wrap on smaller screens */
}

.nav-links a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    height: 50px;
    margin-right: 10px;
    background-color: black;
}

.title {
    color: white;
    font-size: 1.5em; /* Responsive font size */
    margin-right: auto;
}

.button {
    padding: 10px 20px;
    background-color: #E09B2D;
    color: #313131;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1em; /* Responsive font size */
}

.button:hover {
    background-color: #995C0D;
}

.buttons-container, .counters-container, .image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 90%; /* Use percentage for responsive width */
    max-width: 600px; /* Maximum width */
    margin: auto;
}

/* Responsive Counters */
.counters-container div {
    font-size: 1.5em; /* Responsive font size */
    margin-bottom: 10px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 86vh; /* Minimum height */
    color: white;
    width: 100%;
}

h3, .text-container p {
    text-align: center;
    line-height: 1.6;
    padding: 5px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links, .buttons-container, .counters-container, .image-text-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        padding: 8px;
        font-size: 0.9em;
    }

    .button, .counters-container div {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.8em;
    }

    .title {
        font-size: 1.2em;
    }
}