/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.title {
    color: white;
    text-decoration: none;
    font-size: 24px;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    display: inline-block;
    border: none;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Vertically center content in the container */
    align-items: center; /* Horizontally center content in the container */
    color: white;
    padding: 20px;
    background-image: url('sheffield-pie-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh; /* Full height of the viewport */
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
}

.counters-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align the items */
    margin: 20px 0; /* Adjust margin as needed */
}

.label {
    padding-bottom: 20px;
}

.buttons-container .button {
    margin: 10px; /* Adjust the margin to increase space */
    /* other button styles */
}

.image-text-container {
    width: 70%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Aligns children (image and text) in the center */
}

.image-text-container img {
    width: 70%; /* Smaller width, adjust as needed */
    height: auto;
    margin-bottom: 20px; /* Space between image and text */
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

.text-container {
    text-align: justify;
    width: 70%; /* Full width of the container */
}

p {
    line-height: 30px;
}

.link {
    display: flex;
    justify-content: center;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align elements on opposite ends */
    align-items: center; /* Vertically center elements */
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.right p {
    display: inline; /* Display as inline elements */
}

.link {
    display: flex; /* Display as inline elements */
    text-align: center;
}

/* Button styling */
.button {
    background-color: #E09B2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #995C1D;
}

/* Counter styling */
.counters-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.counters-container .label {
    font-size: 18px;
}

.counter {
    font-weight: bold;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column; /* Stack title and logo on top of links */
        align-items: center;
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Vertically center content in the container */
        align-items: center; /* Horizontally center content in the container */
        color: white;
        padding: 20px;
        background-image: url('sheffield-pie-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh; /* Full height of the viewport */
        overflow: auto;
    }

    .content h1 {
        text-align: center;
    }

    .title {
        margin-top: 10px; /* Add some space between title and logo */
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }

    .nav-links a {
        text-align: center;
        border-top: 1px solid white;
        color: white;
        text-decoration: none;
        margin: 0;
        padding: 20px 20px;
        display: inline-block;
        border: none;
        border-radius: 5px;
    }

    .image-text-container {
        width: 90%; /* Adjust the width as needed */
        flex-direction: column; /* Stacks children vertically */
        align-items: center; /* Aligns children (image and text) in the center */
    }
    
    .image-text-container img {
        width: 90%; /* Smaller width, adjust as needed */
        height: auto;
        margin-bottom: 20px; /* Space between image and text */
        display: flex;
        justify-content: center;
    }
    
    h3 {
        text-align: center;
    }
    
    .text-container {
        text-align: justify;
        width: 80%; /* Full width of the container */
    }
    
    p {
        line-height: 30px;
    }
    
    .link {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
}
